<div class="container">
  <div class="heading">Inscrivez-vous !</div>
  <form [formGroup]="userForm" >

    <div style="display: flex; justify-content:space-between; width: 96%;">
      <input class="input" style="width: 40%; margin-right:2px" type="text" placeholder="Nom" formControlName="nom">
      <input class="input" style="width: 59%" type="text" placeholder="Prenom" formControlName="prenom">
      </div>
    <input class="input" type="date" placeholder="Date de naissance" formControlName="dateDeNaissance">
    <input class="input" type="email" placeholder="E-mail" formControlName="mail">
    <input class="input" type="password" placeholder="Mot de passe" formControlName="password">
    <select formControlName="type" style="width: 96%;">
      <option value="0">Elève</option>
      <option value="1">Professeur</option>
    </select>
    <input type="file" class="file-input" (change)="onFileSelected($event);" #fileUpload style="display: none">

    <div class="inputFile">
      {{ fileName || "Choisissez une image :" }}
      <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
      </button>
    </div>

    <span class="signup"><a href="/authentification" >Déjà inscrit(e) ?</a></span>
    <p class="error">{{errorMessage}}</p>
    <button class="login-button" (click)="signup()" >S'inscrire</button>
  </form>
</div>
