<h1>Ajout d'un assignment par {{ user.prenom }}</h1>
<form
  #assignmentForm="ngForm"
  (submit)="onSubmit(assignmentForm); assignmentForm.reset()"
  class="form"
>
  <mat-form-field>
    <input
      matInput
      placeholder="Nom de l'assignment"
      required
      [(ngModel)]="nomAssignment"
      name="nom"
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Date de rendu</mat-label>
    <input
      type="date"
      matInput
      [matDatepicker]="picker"
      [(ngModel)]="dateDeRendu"
      name="date"
    />
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Matière</mat-label>
    <select matNativeControl [(ngModel)]="matiere_id" name="matiere_id">
      @for(mat of listeMatiere; track mat.nom){
      <option [value]="mat._id">
        {{ mat.nom }}
      </option>
      }
    </select>
  </mat-form-field>

  <button
    mat-stroked-button
    color="primary"
    [disabled]="nomAssignment == '' || dateDeRendu === undefined"
  >
    Ajouter un devoir
  </button>
</form>
