<div class="animation-container">
  <ng-lottie width="250px" height="250px" [options]="options" (animationCreated)="animationCreated($event)"/>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <h1>{{ user.prenom }},
          ajouter votre assignment ici !</h1>
        <form [formGroup]="assignmentForm" class="form">

          <input
            class="input"
            placeholder="Nom de l'assignment"
            required
            formControlName="nom"
          />

          <select formControlName="idMatiere">
            <option value="" disabled selected>Choisir une matiere</option>
            @for (mat of listeMatiere; track mat.nom) {
              <option [value]="mat._id">
                {{ mat.nom }}
              </option>
            }
          </select>

          <input type="file" (change)="onFileSelected($event);" #fileUpload style="display: none">

          <div class="inputFile">
            {{ fileName || "Joindre un fichier :" }}
            <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
              <mat-icon>attach_file</mat-icon>
            </button>
          </div>

          <button class="add-assignment-button"
                  mat-stroked-button
                  color="primary"
                  (click) = "addAssignment()"
                  [disabled]="assignmentForm.invalid"
          >
            Ajouter un devoir
          </button>
          <h3 style="text-align: center; color:#00b65e;margin-top: 10px"> {{ message }} </h3>
          <h3 style="text-align: center; color:#ed0c0c;margin-top: 10px"> {{ messageError }} </h3>
        </form>
      </div>
    </div>
    <div class="col-md-6">
      <div class="svg" id="svgContainer"></div>
    </div>
  </div>

</div>
