@if(assignment) {
<div class="container">
  <h1>note et remarque {{ assignment.nom }}</h1>
  <form
    ngForm
    class="form"
    #formupdate
    (submit)="onSaveAssignment(); formupdate.reset()"
  >
    <div>
      <input
        class="input"
        type="number"
        step="0.01"
        placeholder="la note"
        [(ngModel)]="note"
        name="assignment-name"
      />
    </div>
    <div>
      <input
        class="input"
        placeholder="remarque"
        [(ngModel)]="remarque"
        name="assignment-name"
      />
    </div>
    <button
      mat-raised-button
      color="primary"
      [disabled]="!nomAssignment || !dateDeRendu"
    >
      Sauver
    </button>
  </form>
</div>
}
