<mat-sidenav-container>
  <mat-sidenav
    [mode]="isMobile ? 'over' : 'side'"
    [opened]="isMobile ? false : true"
  >
    <button
      mat-icon-button
      aria-label="Menu icon"
      class="d-flex"
      (click)="toggleMenu()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <mat-nav-list>
      <a mat-list-item routerLink="/home">
        <span class="entry">
          <mat-icon>house</mat-icon>
          <span>@if(!isCollapsed){Dashboard}</span>
        </span>
      </a>
      <a mat-list-item routerLink="add">
        <span class="entry">
          <mat-icon>add</mat-icon>
          <span>@if(!isCollapsed){Nouvel assignement}</span>
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content [style.margin-left]="isSidebarOpen ? '97px' : '251px'">
    <!-- Main content goes here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
